body {
    background-color: #080808;
}

.panel {
    background-color: rgba(25, 25, 25, 0.8);
    border-style: hidden;
}

.separator_h {
    background-color: #a4a4a4;
}

.separator_w {
    background-color: #747474;
}

.text {
    color: #ffffff;
}
