body {
    background-color: #000000;
}

.panel {
    border-style: solid;
    border-color: #747474;
}

hr {
    background-color: #747474;
}

hr:first-of-type {
    background-color: #a4a4a4;
}

p {
    color: #efefef;
}
