body {
    background-color: #ffffff;
}

.panel {
    background-color: rgba(242, 242, 242, 0.8);
    border-style: hidden;
}

hr {
    background-color: #747474;
}

hr:first-of-type {
    background-color: #858585;
}

p {
    color: #000000;
}
