body {
    background-color: #ffffff;
}

.panel {
    background-color: rgba(242, 242, 242, 0.8);
    border-style: hidden;
}

.separator_h {
    background-color: #858585;
}

.separator_w {
    background-color: #747474;
}

.text {
    color: #000000;
}
