<div th:fragment="processor" th:replace="~{elements :: panel ('processor', 'CPU', ~{:: processor-body})}"><th:block th:ref="processor-body">
    <div th:replace="~{elements :: subheader ('processor-model-name')}"></div>

    <div th:replace="~{elements :: group ('processor-meta', ~{:: processor-meta-body})}"><th:block th:ref="processor-meta-body">
        <div th:replace="~{elements :: data ('processor-meta-socket-count', 'Socket(s)')}"></div>
        <div th:replace="~{elements :: data ('processor-meta-core-count', 'Core(s)')}"></div>
        <div th:replace="~{elements :: data ('processor-meta-thread-count', 'Thread(s)')}"></div>
        <div th:replace="~{elements :: data ('processor-meta-base-freq', 'Base Speed')}"></div>
        <div th:replace="~{elements :: data ('processor-meta-max-freq', 'Max. Speed')}"></div>
        <div th:replace="~{elements :: data ('processor-meta-min-freq', 'Min. Speed')}"></div>
    </th:block></div>

    <div th:replace="~{elements :: group ('processor-cache', ~{:: processor-cache-body})}"><th:block th:ref="processor-cache-body">
        <div th:replace="~{elements :: data ('processor-cache-level-1', 'L1 Cache')}"></div>
        <div th:replace="~{elements :: data ('processor-cache-level-2', 'L2 Cache')}"></div>
        <div th:replace="~{elements :: data ('processor-cache-level-3', 'L3 Cache')}"></div>
        <div th:replace="~{elements :: data ('processor-cache-level-4', 'L4 Cache')}"></div>
    </th:block></div>

    <div th:replace="~{elements :: group ('processor-freq', ~{:: processor-freq-body})}"><th:block th:ref="processor-freq-body">
        <div th:replace="~{elements :: dynamic-data ('processor-freq-data')}"></div>
    </th:block></div>
</th:block></div>
