<div th:fragment="system" th:replace="~{elements :: panel ('system', 'System', ~{:: system-body})}"><th:block th:ref="system-body">
    <script src="system.js" type="module"></script>

    <div th:replace="~{elements :: subheader ('system-hostname')}"></div>

    <div th:replace="~{elements :: group ('system-status', ~{:: system-status-body})}"><th:block th:ref="system-status-body">
        <div th:replace="~{elements :: data ('system-status-uptime', 'Uptime')}"></div>
        <div th:replace="~{elements :: data ('system-status-shutdown', 'Shutdown')}"></div>
    </th:block></div>

    <div th:replace="~{elements :: group ('system-info', ~{:: system-info-body})}"><th:block th:ref="system-info-body">
        <div th:replace="~{elements :: data ('system-info-os', 'OS')}"></div>
        <div th:replace="~{elements :: data ('system-info-kernel', 'Kernel')}"></div>
    </th:block></div>
</th:block></div>
